<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>案例情况</title>
</head>
<body>
<ul data-role="listview">
    <li><a data-ajax="false" href="{:URL('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
</ul>
<ul data-role="listview">
    <li><a data-ajax="false" href="{:URL('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
</ul>
<ul data-role="listview">
    <li><a data-ajax="false" href="{:URL('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
</ul>
<ul data-role="listview">
    <li><a data-ajax="false" href="{:URL('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告</a></li>
</ul>
<ul data-role="listview">
    <li><a data-ajax="false" href="{:URL('details')}">小迪（化名）测试报告21</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告22</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告23</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告24</a></li>
    <li><a data-ajax="false" href="{:url('details')}">小迪（化名）测试报告25</a></li>
    <br>
    <br>
    <br>
</ul>
</body>
</html>